.hero-wrapper {
  position: fixed;
  font-weight: 200;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: linear-gradient(to top, #0764d5 0%, #0769e0 100%);
  height: 930px;
}

.hero-content {
  font-size: 66px;
  color: white;
  width: 80%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 240px;
  line-height: 1.5;
  height: 620px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

.hero-message--constant {
  margin-right: 1rem;
  white-space: nowrap;
}
.hero-message--with-type {
  min-width: 380px;
  /* border: 1px solid red; */
}

.hero-bottom-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 240px;
  opacity: 0.8;
  background-image: url("https://weathersasa.lon1.cdn.digitaloceanspaces.com/pixelmapstudio/images/pmsb.png"); /* Path to your image */
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  /* border: 1px solid red; */
}

@media (max-width: 980px) {
  .hero-wrapper {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-content {
    height: 300px;
    font-size: 55px;
    margin: 100px 0px;
  }

  .hero-message--with-type {
    min-width: 320px;
  }

  .hero-bottom-image {
    position: relative;
    background-image: url("https://weathersasa.lon1.cdn.digitaloceanspaces.com/pixelmapstudio/images/pmsmb.png"); /* Path to your image */
    /* background-position: bottom; */
    background-repeat: no-repeat;
    /* background-size: contain; */
    display: block;
    opacity: 0.8;
    padding-bottom: calc(52.1% - 114px);
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
  }
}

@media (max-width: 800px) {
  .hero-content {
    font-size: 45px;
    margin: 70px 0px;
    /* border: 1px solid cyan; */
  }
  .hero-message--with-type {
    min-width: 280px;
  }
}

@media (max-width: 650px) {
  .hero-content {
    flex-direction: column;
    margin: 70px 0px;
    /* border: 1px solid cyan; */
  }
  .hero-message--with-type {
    min-width: 0;
  }
}

@media (max-width: 550px) {
  .hero-content {
    height: 200px;
    margin: 70px 0px;
    /* border: 1px solid cyan; */
  }
  .hero-message--constant {
    margin-right: 0.5rem;
  }

  .hero-bottom-image {
    padding-bottom: calc(60% - 114px);
  }
}
