.worldcup-container {
  display: flex;
  /* flex-direction: ; */
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  height: calc(100vh - 70px);
}

@media (max-width: 980px) {
  .maps-container {
    height: calc(100vh - 130px);
    /* border: 1px solid red; */
  }
}
