.worldcup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  height: calc(100vh - 70px);
  overflow-x: auto;
}

.worldcup-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: calc(100vh - 70px);
}

.world-cup-svg {
  /* border: 1px solid green; */
}

@media (max-width: 768px) {
}
